html, body{
	margin: 0 auto;
}
*{
  font-family:Tahoma, Arial, Microsoft yahei, sans-serif !important;
}
img{
  border:0;
  max-width: 100%; 
}
a{
  text-decoration: none;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
a:hover{
  text-decoration: none;
}
a:active{
  text-decoration: none;
}
a:focus{
  text-decoration: none;
}
.boxmain{
	width:auto;
	min-height: 1px;
	overflow: hidden;
}
.bgcolor-fff{
	background-color: #ffffff;
}
input{
	text-decoration: none;
	-webkit-transition-duration: 0.3s;
	-o-transition-duration: 0.3s;
	transition-duration: 0.3s;
}


/* 
-------------  注册页面  -------------
*/

.register-body{
	background-color: #f4f6f9;
}

.register-backbtn-box{
	width: auto;
    min-height: 1px;
    position: fixed;
    left: 36px;
    top: 24px;
}
.registerb-Signin{
}
.registerb-homepage{

}
.registerb-backbtn{
	width: 120px;
    min-height: 1px;
    overflow: hidden;
    margin-bottom: 12px;
}
.registerb-backbtn a{
    width: 100%;
    min-height: 1px;
    font-size: 12px;
    color: #999999;
    line-height: 40px;
    display: block;
    float: left;
    text-align: center;
    background-color: rgba(255,255,255,.20);
    background-color: #ffffff\9;
}
.registerb-backbtn a:hover{
	background-color: #ffffff !important;
}
.registerb-backbtn a.active{
	background-color: rgba(255,255,255,.64);
}


.register-box-main{
	width: 340px;
	min-height: 1px;
	margin: 0 auto;
}
.register-logo{
	width: 100%;
	min-height: 1px;
	text-align: center;
	padding: 36px 0px 36px 0px;
}
.register-logo img{
	width: 48%;
}
.register-judge-info{
    width: 200px;
    min-height: 1px;
    position: absolute;
    left: 360px;
    z-index: 9;
    top: 0;
}
.register-judge-radio{
	width: 16px;
	height:16px;
	float: left;
    font-size: 0;
    margin-top: 16px;
}
.register-jr-type1{
	background-color: #dedede;
}
.register-jr-type2{
	background-color: #56a3f2;
}
.register-jr-type3{
	background-color: #e81717;
}
.register-judge-notes{
	width: auto;
	min-height: 1px;
	font-size: 12px;
	color:#666666;
	line-height: 48px;
	margin-left: 12px;
	float: left;
}

.register-inputbox{
	width: 100%;
	min-height: 1px;
}
.register-inputbox-title{
	width: 100%;
	min-height: 1px;
	font-size: 12px;
	line-height: 24px;
	padding-bottom: 10px;
	color:#999999;
}
.register-input-box{
	width: 100%;
	min-height: 1px;
	margin-bottom: 10px;
    position: relative;
	
}
.register-input-box input{
	width: 100%;
	min-height: 1px;
	line-height: 48px;
	padding: 0px  16px;
	border: 0px;
    color: #cccccc;
    font-size: 14px;
	background-color: rgba(255,255,255,.48);
	background-color: #ffffff\9;
}
.register-input-box input:hover{
	background-color: #ffffff;
	border: 0px;
	color:#000000;
}
.register-inputbox-btn{
	width: 100%;
	min-height: 1px;
    margin-top: 24px;
}
.register-inputbox-btn input{
	width: 100%;
	min-height: 1px;
	line-height: 48px;
	padding: 0px  16px;
	border: 0px;
    color: #ffffff;
    font-size: 16px;
	background-color: #df7728;
}
.register-inputbox-btn input:hover{
	background-color: #4395e2;
}


.register-Thirdparty{
	width: 100%;
	min-height: 1px;
	margin-top: 32px;
}
.register-Thirdparty-Notes{
	width: 100%;
	min-height: 1px;
	font-size: 12px;
	color:#666666;
	line-height: 24px;
	padding: 10px 0px;
}
.register-Thirdparty-btn{
	width: 100%;
	min-height: 1px;
}
.register-Thirdparty-btn a{
	width: 100%;
	min-height: 1px;
	display: block;
	line-height: 40px;
	text-align: center;
	background-color: #e5eaf2;
	color:#666666;
	font-size: 12px;
}
.register-Thirdparty-btn a:hover{
	background-color: #bdc8d9;
}
.register-Thirdparty-btn a img{
    width: 20px;
    margin-right: 10px;
}
.register-Thirdparty-btn a span{

}





/* 
-------------  注册页面  -------------
*/

/* 
-------------  首页面  -------------
*/





